{% extends "base.html.twig" %}

{% block title %}
    New Session
{% endblock %}

{% block body %}
<h1 class="crud-table-title">Add new Session</h1>

<div class="act-form-container">
    {{form(form)}}
</div>
{% endblock %}