{% extends "base.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="ui info message">
        <div class="header">
            You are logged in as {{ app.user.username }} why you want to register if so, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>
    {% endif %}
    <h1 class="register-title">Register</h1>
    <div class="register-form-container">
        {{form(form)}}
    </div>
{% endblock %}