{% extends "base.html.twig" %}

{% block title %}
    Edit Account
{% endblock %}

{% block body %}
<center><h1>Edit Your Account</h1></center>
    <div class="act-form-container">
        {{form(form)}}
    </div>

{% endblock %}